*{
    padding: 0;
    margin: 0;
}
html{
    /* dom元素可以拖放 */
    -webkit-app-region: drag;
}
textarea{
    /* 文本域不能拖放 */
    -webkit-app-region: no-drag;
}

body{
    width: 100vw;
    height: 100vh;
}

h1{
    height: 100vh;
    background: red;
    border-radius: 50%;
    overflow: hidden;
}